<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>VueJS API Reader</title>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>

    <h1>Weather Forecast</h1>
   
        <div id='weather'>

            <!-- Enter Latitude and Longitude -->
            <div>
                <label class='label'>Enter Latitude,Longitude:</label>
                <input type='text' class='input' style='width:300px' name='latlong' v-model='latlong'> <br>
            </div>

            <!-- Get Forecast Button -->
            <div>
                <button v-on:click='findTheStation'>Get Forecast</button>
            </div>

            <!-- Help Button -->
            <div>
                <button v-on:click='showHelp'>Help</button>
            </div>

            <p>Forecast for {{when}}</p>
            <p>Current Temperature: {{temp}} degrees F</p>
            <p>Forecast: {{details}}</p>

        </div> <!--End of latlong-input-->

    <script src="script.js"></script>

</body>

</html>
